<!-- <div class="row">
      <input type="text" class="form-control" placeholder="search"  [(ngModel)]="searchText">
  <div class="col-sm-6 mb-3 mb-sm-0"  *ngFor="let p of listEevents;let ev of filteredEvents">
    <img src="{{p.imageUrl}}" class="card-img-top" alt="..." height="300">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{p.title}}</h5>
        <p class="card-text">
            📍 {{ ev.location }} <br>
            📅 {{ ev.date | date:'longDate' }} <br>
            🎟 Places dispo : {{ ev.nbPlaces }}
          </p>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <button class="btn btn-primary" [disabled]="p.nbPlaces === 0" (click)="ajouter(p.id)">👍Like</button>{{p.nbrLike}}
      </div>
    </div>
  </div>
  
</div> -->